/*********************** buttons ***********************/

.btn-primary {
  @include btncolor($marron, $blanco);
  border: 0;
  transition: 0.3s;

  &:hover {
    @include btncolor($marron, $naranja);
  }
}

.btn-limpiar {
  @include btncolor($blanco-70, $marron-70);
  transition: 0.3s;

  &:hover {
    @include btncolor($blanco, $marron);
  }
}
