/*********************** cards ***********************/

.card {
  &-title {
    color: $marron;
  }

  &-text {
    color: $marron;
    text-align: justify;
    font-size: 16px;
    line-height: 1.2;
  }

  .row {
    div {
      img,
      iframe {
        max-width: 95%;
        max-height: 480px;
      }
    }
  }

  &-transition {
    transition: all ease-in-out 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 20px;
  }
}
