/*********************** header ***********************/

.header {
  background-color: $marron-90;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar {
  &-nav {
    gap: 10px;
    --bs-nav-link-hover-color: $amarillo;

    .nav-link {
      @include fontstyle(large, bold, $amarillo);
      border: solid 2px $amarillo;
      border-radius: 10px;
      display: block;
      padding: 13px 23px;
      transition: background-color 0.3s;

      &.active {
        color: $naranja;
      }

      &:hover {
        background-color: $naranja-20;
      }
    }
  }

  &-brand {
    display: flex;
    align-items: center;
    margin-left: 5px;

    &-img {
      max-width: 70px;
      display: inline-block;
      background-color: $blanco;
      border: solid 2px $amarillo;
      border-radius: 10px;
      margin-right: 10px;
    }

    &-name {
      @include fontstyle(x-large, bold, $marron);
      display: inline-flex;
      background-color: $blanco;
      border: solid 2px $amarillo;
      border-radius: 10px;
      padding: 10px 20px;
    }
  }

  &-toggler {
    border: 1px solid $blanco-75;
    padding: 15px;

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 241, 233, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      width: 18.75px;
      height: 18.75px;
    }
  }

  // offcanvas

  .offcanvas {
    background-color: $marron-90;

    &-title {
      @include fontstyle(x-large, bold, $blanco);
    }

    .btn-close {
      --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%28246, 241, 233, 0.75%29'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    }
  }
}
