/*********************** media queries ***********************/

@media (max-width: 768px) {
  /***** cards *****/
  .card-title {
    text-align: center;
  }

  /***** footer 2 *****/
  .footer-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav__footer_list {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  /***** header *****/
  .navbar-brand-name {
    display: none;
  }

  /***** footer 1 *****/
  .footer-1 {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 375px) {
  /***** contacto *****/
  .contact-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0;

    article {
      width: -webkit-fill-available;
    }
  }
}
