/*********************** productos ***********************/

.section-title {
  padding: 15px;
  text-align: center;
  background-color: $blanco;
  color: $marron;
  border-radius: 15px;
  z-index: 1;
}
